<!-- Esqueleto principal de la pagina -->
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">{{title}}</a><!-- para usar propiedades del componente las cerramos entre {{}} -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/modelos']">Modelo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>

  <!-- <app-poolrent-modelos></app-poolrent-modelos> --> <!-- con esto cada vez q carga el angular llevaria al componente, por mas que quisieramos ir a otro lado-->
  <router-outlet></router-outlet> <!-- Como lo de arriba ya no nos servia implementamos esta etiqueta para que angular escuche el enrutamiento que deseamos-->
  
</main>

<footer> {{title}} 2025</footer>