h1{
    text-transform: capitalize;
    font-weight: 700;
    color: orange;
}

//TABLA
.promo{
    border: 2px solid orange;    
}
.promo td{
    background: rgb(244, 210, 146); 
}
.promo td{
    background: rgb(244, 210, 146); 
}

